body {
  background-color: #ecf0f1 !important;
}

header {
  padding-top: 2vh;
  max-height: 10vh;
  border-bottom: 0.5px solid lightslategray;
}

.wrapper {
  min-height: 80vh;
  padding-left: 4vw;
  padding-right: 1vw;
}

@media screen and (max-width: 960px) {
  .wrapper {
    min-height: 70vh;
  }
  footer {
    margin-bottom: 2vh;
  }
}